# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore hcl file
.terraform.lock.hcl

# Ignore SBOM manifest file
sbom_manifest.yaml
